body {
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.main {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigOne {
  display: grid;
  grid-template-columns: 1 1 1;
  grid-template-rows: 1 1 1;
  width: 100%;
  height: 100%;
  padding: 50px 50px 50px 50px;
}

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1 / 3;
  row-gap: 20px;
}

.main1 p{
  font-size: 28px;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  row-gap: 20px;
}

.main2 p{
  font-size: 18px;
}

#image {
  height: 500px;
  width: 500px;
  opacity: 0;
}

#image2 {
  height: 150px;
  width: 150px;
  opacity: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
